
body {
	font-family: 'Alegreya', serif;
}



a {
	cursor: pointer;
	text-decoration: underline;
}

.centerPiece {
	background-image: url('../img/redtrans.png');
	padding: 5px;
}
/*HEADER*/
#mainHeader {
	width: 97%;
	height: 70px;
	padding: 7px;
	text-align: center;
}

#title {
	margin-bottom: 15px;
	font-size: 2em;
	background-image: url("../img/bluewater.png");

}

#separate {
	height: 2px;
	width: 90%;
	background-color: #797F8B;
	display: block;
	margin-top: 70px;
	margin-right: auto;
	margin-left: auto;
}

/*HAMBURGER MENU*/
#contact {
	display: none;
}

#hamburger {
	margin-left: -70px;
	display: inline-block;
}
#hamMenu {
	height: 40px;
	width: 40px;
	cursor: pointer;
	margin-left: -200px;
}

#dropDown {
	display: none;
	background:linear-gradient(#E5E5FF, #CCCCFF);
	border: 1px solid #797F8B;
	border-radius: 5%;
	width: 140px;
	position: absolute;
	text-align: left;
	font-size: 1.3em;
	padding: 10px;
	z-index: 999;
}

.dropDownitem {
	cursor: pointer;
	text-decoration: underline;
	margin: 10px;
	margin-bottom: 10px;
}

#homeButt {
	width:80px;
	margin-left: 20px;
}

/*HOME*/
#welcome {
	text-align: center;
	background-image: url('../img/bluedroptrans2.png');
	font-weight: 900;
	font-size: 1.1em;
}

#rotatingArticle {
	text-align: center;
}

#introMessage {
	text-indent: 30px;
}

footer {
	text-align: center;
}

