@media screen and (min-width: 800px) {
	
	#hamburger {
		display: none;
	}

	#contact {
		text-align: left;
		font-size: 0.9em;
	}

	#contactSpan {
		height: 2px;
		width: 90%;
		background-color: #797F8B;
		
		}

	body {
		background-image: url('../img/background.png');
		font-family: 'Alegreya', serif;
		font-size: 1.1em;
		padding: 20px;
	}

	a {
		cursor: pointer;
		
	}
	/*HEADER*/
	#mainHeader {
		width: 97%;
		height: 70px;
		padding: 7px;
		text-align: center;
	}

	#title {
		margin-top: 0px;
		margin-bottom: 20px;
		font-size: 4em;
		cursor: pointer;
		background-image: url("../img/bluewater.png");
		background-repeat: no-repeat;
		background-position: top center;

	}

	#separate {
		height: 2px;
		width: 90%;
		background-color: #797F8B;
		display: block;
		margin-top: 20px;
		margin-right: auto;
		margin-left: auto;
	}

	#dropDown {
		margin-top: 80px;
		width: 200px;
		padding: 10px;
		font-size: 1.2em;
		background-image: url('../img/bluedroptrans2.png');
		border-radius: 15px;
	}



	#homeButt {
		width: 100px;
	}

	.centerPiece {
		width: 70%;
		margin-left: 250px;
		text-align: left;
		margin-right: auto;
		height: 1000px; 
		}

	/*HOME*/
	#welcome {
		text-align: center;
		background-color: #CBCBCB;
		font-weight: 900;
		font-size: 1.2em;
	}

	#rotatingArticle {
		text-align: center;
	}

	

	#heart {
		margin-right: 175px;
	}
	/*To Top Arrow*/
	#toTop {
		width: 40px;
		margin-right: auto;
		margin-left: auto;
		font-weight: 900;
		cursor: pointer;
		border: 1px solid black;
		background-color: white;
		padding: 3px;
		text-align: center;
		border-radius: 10%;
		-webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
	}
}