@media screen and (min-width: 800px) {
	
	#hamburger {
		display: none;
	}

	#contact {
		text-align: left;
		font-size: 0.9em;
	}

	#contactSpan {
		height: 2px;
		width: 90%;
		background-color: #797F8B;
		}

	body {
		/*background-image: url('../img/background.png');*/
		font-family: 'Alegreya', serif;
		font-size: 1.1em;
		padding: 20px;
	}

	a {
		cursor: pointer;
		
	}
	/*HEADER*/
	#mainHeader {
		width: 97%;
		height: 70px;
		padding: 7px;
		text-align: center;
	}

	#title {
		margin-top: 0px;
		margin-bottom: 20px;
		font-size: 4em;
		cursor: pointer;
		background-image: url("../img/bluewater.png");
		background-repeat: no-repeat;
		background-position: top center;

	}

	#separate {
		height: 2px;
		width: 90%;
		background-color: #797F8B;
		display: block;
		margin-top: 20px;
		margin-right: auto;
		margin-left: auto;
	}

	#dropDown {
		margin-top: 80px;
		width: 200px;
		padding: 10px;
		font-size: 1.2em;
		background-image: url('../img/bluedroptrans2.png');
		border-radius: 15px;
	}

	.dropDownItem:active {
		text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
	}

	.centerPiece {
		width: 68%;
		margin-left: 250px;
		text-align: left;
		background-image: url('../img/redtrans.png');
		padding: 10px;
		border-radius: 15px;
		text-indent: 50px;	
		}

	/*HOME*/
	#welcome {
		text-align: center;
		font-weight: 900;
		font-size: 1.2em;
	}

	#homeButt {
		width: 100px;
	}

	#bigHello {
		text-align: center;
	}

	#rotatingArticle {
		text-align: left;
		text-indent: 50px;
	}

	/*FAQ PAGE*/
	#faqHeader {
		font-size: 1.5em;
		margin-left: auto;
		margin-right: auto;
	}

	#faqInstructions {
			display: none;
		}

	#faqArticle {
		text-indent: 0px;
	}

	.question {
		cursor: pointer;
	}

	.QA {
		font-size: 1.1em;
		font-weight: bolder;
	}

	/*TIPS*/
	#tipsHeader {
		font-size: 1.5em;
		margin-left: auto;
		margin-right: auto;
	}

	.tipsBold {
		font-size: 1.1em;
		font-weight: bolder
	}

	/*About Us*/
	#aboutUsheader {
		font-size: 1.5em;
		margin-left: auto;
		margin-right: auto;
	}

	#booksImgContainer {
		text-align: center;
	}

	#tipsArticle {
		text-indent: 0px;
	}

	/*To Top Arrow*/
	#toTop {
		display: none;
	}

	/*footer*/
	#footerSpan {
		margin-top: 120px;
		height: 2px;
		width: 100%;
		background-color: #797F8B;
	}

	footer {
		opacity: 3%;
		padding-top: 3px;
		text-align: center;
		position:absolute;
		margin-top: 10px;
		margin-bottom: 5px;
		width: 100%;
   	position: absolute;
   	height:30px;   
	}
}