#faq {
	text-align: center;
}

#faqHeader {
	width: 90%;
	text-align: center;
	font-size: 1.5em;
	font-weight: 900;
	margin-left: auto;
	margin-right: auto;
}

.question {
	font-weight: bold;
	font-size: 1.2em;
	cursor: pointer;
}

#faqInstructions {
	background-color: white;
	font-style: italic;
}